nav {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
      font-family: 'BetterRattlerRough Regular';
    }
    button {
        background: transparent;
        outline: none;
        cursor: pointer;
        border: 2px solid rgb(68, 68, 68);
        padding: 0.5rem;
        transition: all 0.3s ease;
        svg {
            margin-left: 5px;
        }
        &:hover {
            background: rgb(68, 68, 68);
            color: white;
        }
    }
}

@media screen and (max-width: 575px) {
    nav {
        // padding: 0 32px;
        justify-content: space-between;
        button {
            z-index: 10;
        }
    }
}
