@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #1b1b1b;
    font-family: sans-serif;
}
.App{
    transition: all .5s ease;
    position: relative;
}
.library-active{
    margin-left: 20rem;
    @media screen and (max-width: 575px) {
        margin-left: 0;
    }
}
