@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #1b1b1b;
    font-family: sans-serif;
}
.App {
    transition: all 0.5s ease;
    position: relative;
    &__wrapper-night {
        height: 100vh;
        background-color: #0e1621;
        nav {
            h1 {
                color: #fff;
            }
            button {
                color: #4182b8;
                border: 2px solid #4182b8;
            }
            button:hover {
                background-color: #fff;
                color: #4182b8;
                border: 2px solid #ffffff;
            }
        }
        .song-container {
            h1 {
                color: #fff;
            }
            h3 {
                color: #fff;
            }
        }
        .library {
            background-color: #17212b;
            box-shadow: none;
            h2 {
                color: #4182b8;
            }
            &__song {
                h3 {
                    color: #fff;
                }
                h4 {
                    color: #6c7883;
                }
            }
        }
        .player {
            background-color: #0e1621;
            &__track {
                p {
                    color: #6c7883;
                }
            }
            &__control {
                svg {
                    color: #4182b8;
                }
            }
            .animate-track {
                background: #242f3d;
            }
        }
    }
}
.library-active {
    margin-left: 20rem;
    @media screen and (max-width: 575px) {
        margin-left: 0;
    }
}
